= semantic_form_for @diagram do |f|
  = f.inputs do
    = f.input :name
  = f.actions do
    = f.action :submit, :as => :button, :label => "Create", :button_html => { :class => 'btn btn-large btn-primary' }
    = f.action :cancel, :as => :link, :label => "Cancel"