!!!
%html
  %head
    %title= yield(:title)
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
    :css
      html { height: 100% }
      body { height: 100%; margin: 0; padding: 0 }
  %body
  = render :partial => 'layouts/navbar'
  %div{:class => "“container”"}
    = flash[:alert]
    = flash[:notice]
    = yield